# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db

# Node / Frontend
node_modules/
frontend/dist/
frontend/node_modules/

# OS files
Thumbs.db
.DS_Store

# Temp
tmp/
*.log

# Large Binary Files
*.mp4
!frontend/public/3.mp4
# Data
data/
*.mkv
*.avi
*.mov